@using TaskManagementV1.Models.ResponseModels
@model CommonResponse
@{
    ViewBag.dataTable = "true";
    ViewBag.select2 = "true";
    string Title = "Project";
    string PageTitle = Title + " Assignment User List";
    ViewBag.PageTitle = PageTitle;
    var PermissionList = Context.Session.GetObjectFromSession<List<ActionDetailsList>>("PermissionList");
    string StartDateStr = "NA";
    string EndDateStr = "NA";
    ProjectAddEditResModel ProjectDetail = new ProjectAddEditResModel();
    if (Model.Status)
    {
        ProjectDetail = Model.Data;
        StartDateStr = ProjectDetail.ProjectStartDate != null ? ProjectDetail.ProjectStartDate.Value.ToString("dd-MM-yyyy") : "NA";
        EndDateStr = ProjectDetail.ProjectEndDate != null ? ProjectDetail.ProjectEndDate.Value.ToString("dd-MM-yyyy") : "NA";
    }
}
@if (Model.Status)
{
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@PageTitle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">@Title</li>
                        <li class="breadcrumb-item"><a href="/Project/Index">@Title List</a></li>
                        <li class="breadcrumb-item active">@PageTitle</li>
                    </ol>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" id="hdnProjectId" name="hdnProjectId" value="@ProjectDetail.Id" />
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-3">
                                    <h2 class="card-title"><b>Project Name : </b>@Model.Data.ProjectName</h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="card-title">
                                        <b>Project Status : </b>@Model.Data.ProjectStatus
                                    </h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="card-title"><b>Project StartDate : </b>@StartDateStr</h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="card-title"><b>Project EndDate : </b>@EndDateStr</h2>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group" id="dddlDepartment">
                                        <label class="form-label"><span class="has-error required"></span>Department</label>
                                        <select id="ddlDepartment" name="ddlDepartment" class="form-control select2" isRequired="0" divcontainer="dddlDepartment" errorspan="sddlDepartment" defaultvalue="0">
                                        </select>
                                        <span class="help-block d-none has-error" id="sddlDepartment">Please Select Department</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" id="dddlDesignation">
                                        <label class="form-label"><span class="has-error required"></span>Designation</label>
                                        <select id="ddlDesignation" name="ddlDesignation" class="form-control select2" isRequired="0" divcontainer="dddlDesignation" errorspan="sddlDesignation" defaultvalue="0">
                                        </select>
                                        <span class="help-block d-none has-error" id="sddlDesignation">Please Select Designation</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="divProjectAssignmentList">
                            @* <div class="card-header">
                        <div class="row">
                        <div class="col-md-6 card_title_center">
                        <h2 class="card-title"><b>@PageTitle</b></h2>
                        </div>
                        <div class="col-md-6">
                        </div>
                        </div>
                        </div>
                        <div class="card-body">
                        <div id="divProjectAssignmentList">
                        </div> *@
                        </div>
                        <div class="card-footer">
                            @if (PermissionList.Any(x => x.ActionCode == CommonConstant.Project_Edit))
                            {
                                <input type="button" id="btnUpdateProjectAssignment" name="btnUpdateProjectAssignment" class="btn btn-success float-right ml-1" value="Update" />
                            }
                            <input type="button" id="btnCancel" name="btnCancel" class="btn btn-danger float-right" value="Cancel" />
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
}
else
{
    <p style="color:red">@Model.Message</p>
}

@section Scripts
{
    <script src="~/scripts/project_assign.js?_@DateTime.Now.Ticks"></script>
}
