@using TaskManagementV1.Models.ResponseModels
@model CommonResponse
@{
    Layout = "_DefaultBlankLayout";
    ViewBag.dataTable = "true";
}

@if (Model.Status)
{
    <div class="card-body">
        @{
            ProjectUserListResModel resModel = Model.Data;
            List<ProjectUserDetail> list = Model.Data.ProjectUserDetailList;
        }
        <div class="row form-group">
            <div class="col-md-12">
                <table id="tblProjectAssignmentList" class="table table-bordered table-hover" style="width:100%;">
                    <thead class="bg-secondary text-center">
                        <tr>
                            <td>FullName</td>
                            <td>Email</td>
                            <td>Designation</td>
                            <td>Department</td>
                            <td>Is User Assigned ?</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in list)
                        {
                            <tr class="clsWrap">
                                <td>@item.FullName - ( @item.RoleName )</td>
                                <td>@item.Email</td>
                                <td>@item.DesignationName</td>
                                <td>@item.DepartmentName</td>
                                <td class=" text-center">
                                    @if (item.IsAssigned)
                                    {
                                        <span class="d-none">true</span>
                                        <input type="checkbox" class="chk-user-assignment" UserId="@item.UserId" checked />
                                    }
                                    else
                                    {
                                        <span class="d-none">false</span>
                                        <input type="checkbox" class="chk-user-assignment" UserId="@item.UserId" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <p style="color:red">@Model.Message</p>
}
