@using TaskManagementV1.Models.ResponseModels
@model CommonResponse
@{
    Layout = "_DefaultBlankLayout";
    ViewBag.dataTable = "true";
}

@if (Model.Status)
{
    <div class="card-header">

        @{
            ProjectUserListResModel resModel = Model.Data;
            List<ProjectUserDetail> list = Model.Data.ProjectUserDetailList;
            string StartDateStr = resModel.ProjectStartDate != null ? resModel.ProjectStartDate.Value.ToString("dd-MM-yyyy") : "NA";
            string EndDateStr = resModel.ProjectEndDate != null ? resModel.ProjectEndDate.Value.ToString("dd-MM-yyyy") : "NA";
        }
        <div class="row">
            <div class="col-md-3">
                <h2 class="card-title"><b>Project Name : </b>@resModel.ProjectName</h2>
            </div>
            <div class="col-md-3">
                <h2 class="card-title">
                    <b>Project Status : </b>@resModel.ProjectStatus
                </h2>
            </div>
            <div class="col-md-3">
                <h2 class="card-title"><b>Project StartDate : </b>@StartDateStr</h2>
            </div>
            <div class="col-md-3">
                <h2 class="card-title"><b>Project EndDate : </b>@EndDateStr</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row form-group">
            <div class="col-md-12">
                <table id="tblProjectAssignmentList" class="table table-bordered table-hover" style="width:100%;">
                    <thead class="bg-secondary text-center">
                        <tr>
                            <td>FullName</td>
                            <td>Email</td>
                            <td>Designation</td>
                            <td>Department</td>
                            <td>Is User Assigned ?</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in list)
                        {
                            <tr class="clsWrap">
                                <td>@item.FullName - ( @item.RoleName )</td>
                                <td>@item.Email</td>
                                <td>@item.DesignationName</td>
                                <td>@item.DepartmentName</td>
                                <td class=" text-center">
                                    @if (item.IsAssigned)
                                    {
                                        <input type="checkbox" class="chk-user-assignment" UserId="@item.UserId" checked />
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="chk-user-assignment" UserId="@item.UserId" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <p style="color:red">@Model.Message</p>
}