@model Task_Mangement.Models.DailyTaskViewModel

<form method-post asp-action="SaveUpdateDailyTask">
	<div class="border p-3">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		@if (Model.Id > 0)
		{
			<div class="form-group row">
				<h2 class="text-info pl-3">Edit Daily Task</h2>
			</div>
		}
		else
		{
			<div class="form-group row">
				<h2 class="text-info pl-3">Add Daily Task</h2>
			</div>
		}
		<input id="Id" name="Id" type="hidden" class="form-control col-sm-4" value="@Model.Id" />
		<div class="row">
			<div class="col-8">
				<div class="form-group row">
					<div class="col-4">
						@Html.Label("Project Name")
					</div>

					<div class="col-8">
						@Html.DropDownListFor(x => x.ProjectId, new SelectList(ViewBag.ProjectList, "Value", "Text", Model.ProjectId), new { @class = "form-select", @aria_label = "Default select example", @required = "required" })
						<span asp-validation-for="ProjectId" class="text-danger"></span>
					</div>


				</div>
				<br />
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="TaskDate"></label>
					</div>
					<div class="col-8">
						<input asp-for="TaskDate" class="form-control" type="date" required />
						<span asp-validation-for="TaskDate" class="alert-danger"></span>
					</div>
				</div>
				<br />
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="TaskDuration"></label>
					</div>
					<div class="col-8">
						<input asp-for="TaskDuration" class="form-control" required />
						<span asp-validation-for="TaskDuration" class="text-danger"></span>
					</div>
				</div>
				<br />

				<div class="form-group row">
					<div class="col-4">
						<label asp-for="TaskDescription"></label>
					</div>
					<div class="col-8">
						<textarea asp-for="TaskDescription" class="form-control" required></textarea>
						<span asp-validation-for="TaskDescription" class="text-danger"></span>
					</div>
				</div>

				<br />
				<div class="form-group row">
					<div class="col-4">
						@Html.Label("Task Status")
					</div>
					<div class="col-8">
						@Html.DropDownListFor(x => x.TaskStatus, new SelectList(ViewBag.TaskStatusList, "Value", "Text"), htmlAttributes: new { @class = "form-select", @aria_label = "Default select example", @required = "required" })
						<span asp-validation-for="TaskStatus" class="text-danger"></span>
					</div>
				</div>
				<br />

				<div class="button-container"> <input type="submit" id="btn" value="Submit" /> <a asp-action="DailyTask" id="Backbtn"> <i class="fa-solid fa-arrow-right-to-bracket" aria-hidden="true">&nbsp; Back</i> </a> </div>
			</div>
			<div class="col-4">
			</div>
			<br />
			<div>
				<div style="color:red;">@ViewBag.message</div>
			</div>
		</div>
	</div>

</form>

@section scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
