@model Task_Mangement.Models.DailyTaskViewModel

<form method-post asp-action="SaveUpdateDailyTask">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (@Model != null)
        {
            <div class="form-group row">
                <h2 class="text-info pl-3">Edit Daily Task</h2>
            </div>
        }
        else
        {
            <div class="form-group row">
                <h2 class="text-info pl-3">Add Daily Task</h2>
            </div>
        }
        <input id="Id" name="Id" type="hidden" class="form-control col-sm-4" value="@Model.Id" />
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ProjectName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ProjectName" class="form-control" />
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        @Html.Label("Project Name")
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(x => x.ProjectName, new SelectList(ViewBag.ProjectStatusList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TaskDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TaskDate" class="form-control" />
                        <span asp-validation-for="TaskDate" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TaskDuration"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TaskDuration" class="form-control" />
                        <span asp-validation-for="TaskDuration" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TaskDescription"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TaskDescription" class="form-control" />
                        <span asp-validation-for="TaskDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        @Html.Label("Task Status")
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(x => x.TaskStatus, new SelectList(ViewBag.TaskStatusList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>
              
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-40" value="submit" />
                            @*  </div>

                            <div class="col">*@
                            <a asp-action="DailyTask" class="btn btn-primary w-40">
                                <i class="fa-solid fa-arrow-right-to-bracket"></i> &nbsp;  Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>

        </div>
    </div>

</form>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
