@model Task_Mangement.Models.DownloadReportViewModel

<style>
	#projectDropdownContainer span.text-danger {
		display: none;
	}

	#userDropdownContainer span.text-danger {
		display: none;
	}
</style>
<form method-post asp-action="" id="reportForm">
	<div class="border p-3">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="form-group row">
			<h2 class="pl-3">Download Report</h2>
		</div>


		<div class="row">
			<div class="col-8">

				<div class="form-group row">
					<div class="col-4">
						<label asp-for="IsUserWiseReport">Is User Wise Report</label>
					</div>
					<div class="col-8">
						<input type="checkbox" asp-for="IsUserWiseReport" class="form-check-input" id="isUserWiseReportCheckbox">
						<span asp-validation-for="IsUserWiseReport" class="text-danger"></span>
					</div>
				</div>
				<br />
				<div class="form-group row" id="userDropdownContainer" style="display:none;">
					<div class="col-4">
						@Html.Label("User")
					</div>
					<div class="col-8">
						@Html.DropDownListFor(x => x.UserId, new SelectList(ViewBag.UserList, "Value", "Text"), htmlAttributes: new { @class = "form-select", @aria_label = "Default select example" })
						<span asp-validation-for="UserId" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row" id="projectDropdownContainer" style="display:none;">
					<div class="col-4">
						@Html.Label("Project")
					</div>
					<div class="col-8">
						@Html.DropDownListFor(x => x.ProjectId, new SelectList(ViewBag.ProjectList, "Value", "Text"), htmlAttributes: new { @class = "form-select", @aria_label = "Default select example" })
						<span asp-validation-for="ProjectId" class="text-danger"></span>
					</div>
				</div>
				<br />
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="FromDate">From Date</label>
					</div>
					<div class="col-8">
						<input asp-for="FromDate" class="form-control" type="date" />
						@* <span asp-validation-for="ProjectStartDate" class="alert-danger"></span> *@
					</div>
				</div>
				<br />
				<div class="form-group row">
					<div class="col-4">
						<label asp-for="ToDate">To Date</label>
					</div>
					<div class="col-8">
						<input asp-for="ToDate" class="form-control" type="date" />
						@* <span asp-validation-for="ProjectStartDate" class="alert-danger"></span> *@
					</div>
				</div>
				<div class="form-group row">
				</div>
				<br />

				<div class="button-container">
					<input type="button" id="btn" value="Download" />

				</div>
			</div>
			<div class="col-4">
			</div>

		</div>
	</div>

</form>

@section scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			toggleDropdowns();
			$('#isUserWiseReportCheckbox').change(toggleDropdowns);
			$('select').change(validateDropdowns);
			$('#btn').click(function (event) {
				debugger
				if (!validateDropdowns()) {
					event.preventDefault();
				} else {
					var formData = $('#reportForm').serialize();
					$.ajax({
						url: '@Url.Action("GenerateReport", "Project")',
						type: 'POST',
						data: formData,
						success: function (response) {
							if (response.success) {
								var fileUrl = response.fileUrl; // Changed 'resFilePath' to 'fileUrl'
								console.log(fileUrl);
								var redirectUrl = '@Url.Action("DownloadReport")';
								window.open(fileUrl, '_blank');
								window.location.href = redirectUrl;
							}
						}
					});
				}
			});

			function toggleDropdowns() {
				if ($('#isUserWiseReportCheckbox').is(':checked')) {
					$('#userDropdownContainer').show();
					$('#projectDropdownContainer').hide();
				} else {
					$('#userDropdownContainer').hide();
					$('#projectDropdownContainer').show();
				}
			}

			function validateDropdowns() {
				var isValid = true;
				if ($('#userDropdownContainer').is(':visible') && !$('#UserId').val()) {
					$('#userDropdownContainer span.text-danger').text('Please select a User').show();
					isValid = false;
				} else {
					$('#userDropdownContainer span.text-danger').hide();
				}
				if ($('#projectDropdownContainer').is(':visible') && !$('#ProjectId').val()) {
					$('#projectDropdownContainer span.text-danger').text('Please select a project').show();
					isValid = false;
				} else {
					$('#projectDropdownContainer span.text-danger').hide();
				}
				return isValid;
			}
		});
	</script>


	@* <script>
				$(document).ready(function () {
					toggleDropdowns();

					$('#isUserWiseReportCheckbox').change(toggleDropdowns);
					$('select').change(validateDropdowns);

						$('#btn').click(function(event) {
				if (!validateDropdowns()) {
					event.preventDefault();
				} else {
					var formData = $('#reportForm').serialize();
					$.ajax({
						url: '@Url.Action("GenerateReport", "Project")',
						type: 'POST',
						data: formData,
						success: function(response) {
							if (response.success) {
								var fileUrl = response.fileUrl;
								var redirectUrl = '@Url.Action("DownloadReport")';

								var htmlContent = `
									<html>
										<head>
											<script type='text/javascript'>
												window.onload = function()
												{
													var win = window.open('${fileUrl}', '_blank');
													if (win)
													{
														win.focus();
														window.location.href = '${redirectUrl}';
													}
													else
													{
														alert('Please enable popups for this site.');
														window.location.href = '${redirectUrl}';
													}
												};

										</head>
									<body>
									</body>
								</html>`;

							var newWindow = window.open();
							newWindow.document.write(htmlContent);
							newWindow.document.close();
		} else {
							alert(response.message);
						}
					},
					error: function(xhr, status, error) {
						alert('An error occurred while generating the report');
					}
				});
				event.preventDefault();
			}
		});

				});

				function toggleDropdowns() {
					if ($('#isUserWiseReportCheckbox').is(':checked')) {
						$('#userDropdownContainer').show();
						$('#projectDropdownContainer').hide();
					} else {
						$('#userDropdownContainer').hide();
						$('#projectDropdownContainer').show();
					}
				}

				function validateDropdowns() {
					var isValid = true;
					if ($('#userDropdownContainer').is(':visible') && !$('#UserId').val()) {
						$('#userDropdownContainer span.text-danger').text('Please select a User').show();
						isValid = false;
					} else {
						$('#userDropdownContainer span.text-danger').hide();
					}

					if ($('#projectDropdownContainer').is(':visible') && !$('#ProjectId').val()) {
						$('#projectDropdownContainer span.text-danger').text('Please select a project').show();
						isValid = false;
					} else {
						$('#projectDropdownContainer span.text-danger').hide();
					}

					return isValid;
				}
	</script> *@
}
